@font-face {
    font-family: 'Report School';
    src: url('../media/fonts/report_school_rg-webfont.ttf');
}

@font-face {
    font-family: 'Superclarendon';
    src: url('../media/fonts/superclarendon_rg-webfont.ttf');
}
