<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>bgMaskMoney0000.png</key>
<dict>
<key>frame</key>
<string>{{2,184},{77,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{77,30}}</string>
<key>sourceSize</key>
<string>{77,30}</string>
</dict>
<key>xiangkuang_suo0000.png</key>
<dict>
<key>frame</key>
<string>{{356,183},{72,71}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{72,71}}</string>
<key>sourceSize</key>
<string>{72,71}</string>
</dict>
<key>yulan_010000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{87,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,89}}</string>
<key>sourceSize</key>
<string>{87,89}</string>
</dict>
<key>yulan_020000.png</key>
<dict>
<key>frame</key>
<string>{{91,2},{87,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,89}}</string>
<key>sourceSize</key>
<string>{87,89}</string>
</dict>
<key>yulan_030000.png</key>
<dict>
<key>frame</key>
<string>{{180,2},{87,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,89}}</string>
<key>sourceSize</key>
<string>{87,89}</string>
</dict>
<key>yulan_040000.png</key>
<dict>
<key>frame</key>
<string>{{180,93},{87,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,88}}</string>
<key>sourceSize</key>
<string>{87,88}</string>
</dict>
<key>yulan_050000.png</key>
<dict>
<key>frame</key>
<string>{{180,183},{86,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{86,89}}</string>
<key>sourceSize</key>
<string>{86,89}</string>
</dict>
<key>yulan_060000.png</key>
<dict>
<key>frame</key>
<string>{{269,2},{87,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,89}}</string>
<key>sourceSize</key>
<string>{87,89}</string>
</dict>
<key>yulan_070000.png</key>
<dict>
<key>frame</key>
<string>{{358,2},{87,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,89}}</string>
<key>sourceSize</key>
<string>{87,89}</string>
</dict>
<key>yulan_080000.png</key>
<dict>
<key>frame</key>
<string>{{2,93},{87,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,89}}</string>
<key>sourceSize</key>
<string>{87,89}</string>
</dict>
<key>yulan_090000.png</key>
<dict>
<key>frame</key>
<string>{{269,93},{87,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,88}}</string>
<key>sourceSize</key>
<string>{87,88}</string>
</dict>
<key>yulan_100000.png</key>
<dict>
<key>frame</key>
<string>{{91,93},{87,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,89}}</string>
<key>sourceSize</key>
<string>{87,89}</string>
</dict>
<key>yulan_110000.png</key>
<dict>
<key>frame</key>
<string>{{358,93},{87,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{87,88}}</string>
<key>sourceSize</key>
<string>{87,88}</string>
</dict>
<key>yulan_120000.png</key>
<dict>
<key>frame</key>
<string>{{268,183},{86,89}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{86,89}}</string>
<key>sourceSize</key>
<string>{86,89}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>framePreview.png</string>
<key>size</key>
<string>{450,300}</string>
<key>textureFileName</key>
<string>framePreview.png</string>
</dict>
</dict>
</plist>
