<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>xiangkuang_010000.png</key>
<dict>
<key>frame</key>
<string>{{2,1151},{782,551}}</string>
<key>offset</key>
<string>{-386,260}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{782,551}}</string>
<key>sourceSize</key>
<string>{782,551}</string>
</dict>
<key>xiangkuang_020000.png</key>
<dict>
<key>frame</key>
<string>{{850,2},{741,543}}</string>
<key>offset</key>
<string>{-360,259}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{741,543}}</string>
<key>sourceSize</key>
<string>{741,543}</string>
</dict>
<key>xiangkuang_030000.png</key>
<dict>
<key>frame</key>
<string>{{2,567},{817,582}}</string>
<key>offset</key>
<string>{-371,285}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{817,582}}</string>
<key>sourceSize</key>
<string>{817,582}</string>
</dict>
<key>xiangkuang_040000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{846,563}}</string>
<key>offset</key>
<string>{-433,268}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{846,563}}</string>
<key>sourceSize</key>
<string>{846,563}</string>
</dict>
<key>xiangkuang_050000.png</key>
<dict>
<key>frame</key>
<string>{{821,567},{803,580}}</string>
<key>offset</key>
<string>{-389,285}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{803,580}}</string>
<key>sourceSize</key>
<string>{803,580}</string>
</dict>
<key>xiangkuang_060000.png</key>
<dict>
<key>frame</key>
<string>{{821,1149},{782,567}}</string>
<key>offset</key>
<string>{-388,275}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{782,567}}</string>
<key>sourceSize</key>
<string>{782,567}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>frame_1.png</string>
<key>size</key>
<string>{2048,2048}</string>
<key>textureFileName</key>
<string>frame_1.png</string>
</dict>
</dict>
</plist>
