<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>xiangkuang_070000.png</key>
<dict>
<key>frame</key>
<string>{{824,1170},{776,542}}</string>
<key>offset</key>
<string>{-388,274}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{776,542}}</string>
<key>sourceSize</key>
<string>{776,542}</string>
</dict>
<key>xiangkuang_080000.png</key>
<dict>
<key>frame</key>
<string>{{2,1218},{751,531}}</string>
<key>offset</key>
<string>{-374,265}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{751,531}}</string>
<key>sourceSize</key>
<string>{751,531}</string>
</dict>
<key>xiangkuang_090000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{819,607}}</string>
<key>offset</key>
<string>{-399,285}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{819,607}}</string>
<key>sourceSize</key>
<string>{819,607}</string>
</dict>
<key>xiangkuang_100000.png</key>
<dict>
<key>frame</key>
<string>{{824,609},{786,559}}</string>
<key>offset</key>
<string>{-380,273}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{786,559}}</string>
<key>sourceSize</key>
<string>{786,559}</string>
</dict>
<key>xiangkuang_110000.png</key>
<dict>
<key>frame</key>
<string>{{823,2},{792,605}}</string>
<key>offset</key>
<string>{-396,311}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{792,605}}</string>
<key>sourceSize</key>
<string>{792,605}</string>
</dict>
<key>xiangkuang_120000.png</key>
<dict>
<key>frame</key>
<string>{{2,611},{820,605}}</string>
<key>offset</key>
<string>{-404,297}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{820,605}}</string>
<key>sourceSize</key>
<string>{820,605}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>frame_2.png</string>
<key>size</key>
<string>{2048,2048}</string>
<key>textureFileName</key>
<string>frame_2.png</string>
</dict>
</dict>
</plist>
