<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>color_010000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_020000.png</key>
<dict>
<key>frame</key>
<string>{{2,59},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_030000.png</key>
<dict>
<key>frame</key>
<string>{{2,116},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_040000.png</key>
<dict>
<key>frame</key>
<string>{{2,173},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_050000.png</key>
<dict>
<key>frame</key>
<string>{{2,230},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_060000.png</key>
<dict>
<key>frame</key>
<string>{{2,287},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_070000.png</key>
<dict>
<key>frame</key>
<string>{{57,2},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_080000.png</key>
<dict>
<key>frame</key>
<string>{{57,59},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_090000.png</key>
<dict>
<key>frame</key>
<string>{{57,116},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_100000.png</key>
<dict>
<key>frame</key>
<string>{{57,173},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_110000.png</key>
<dict>
<key>frame</key>
<string>{{57,230},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_120000.png</key>
<dict>
<key>frame</key>
<string>{{57,287},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_130000.png</key>
<dict>
<key>frame</key>
<string>{{112,2},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_140000.png</key>
<dict>
<key>frame</key>
<string>{{167,2},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_150000.png</key>
<dict>
<key>frame</key>
<string>{{222,2},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_160000.png</key>
<dict>
<key>frame</key>
<string>{{277,2},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_170000.png</key>
<dict>
<key>frame</key>
<string>{{332,2},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_180000.png</key>
<dict>
<key>frame</key>
<string>{{387,2},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_190000.png</key>
<dict>
<key>frame</key>
<string>{{112,59},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_200000.png</key>
<dict>
<key>frame</key>
<string>{{112,116},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_210000.png</key>
<dict>
<key>frame</key>
<string>{{112,173},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_220000.png</key>
<dict>
<key>frame</key>
<string>{{112,230},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_230000.png</key>
<dict>
<key>frame</key>
<string>{{112,287},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_240000.png</key>
<dict>
<key>frame</key>
<string>{{167,59},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_250000.png</key>
<dict>
<key>frame</key>
<string>{{222,59},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_260000.png</key>
<dict>
<key>frame</key>
<string>{{277,59},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_270000.png</key>
<dict>
<key>frame</key>
<string>{{332,59},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_280000.png</key>
<dict>
<key>frame</key>
<string>{{387,59},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_290000.png</key>
<dict>
<key>frame</key>
<string>{{167,116},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_300000.png</key>
<dict>
<key>frame</key>
<string>{{167,173},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_310000.png</key>
<dict>
<key>frame</key>
<string>{{167,230},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_320000.png</key>
<dict>
<key>frame</key>
<string>{{167,287},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_330000.png</key>
<dict>
<key>frame</key>
<string>{{222,116},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_340000.png</key>
<dict>
<key>frame</key>
<string>{{277,116},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_350000.png</key>
<dict>
<key>frame</key>
<string>{{332,116},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_360000.png</key>
<dict>
<key>frame</key>
<string>{{387,116},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_370000.png</key>
<dict>
<key>frame</key>
<string>{{222,173},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_380000.png</key>
<dict>
<key>frame</key>
<string>{{222,230},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_390000.png</key>
<dict>
<key>frame</key>
<string>{{222,287},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_400000.png</key>
<dict>
<key>frame</key>
<string>{{277,173},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_410000.png</key>
<dict>
<key>frame</key>
<string>{{277,230},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_420000.png</key>
<dict>
<key>frame</key>
<string>{{277,287},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_430000.png</key>
<dict>
<key>frame</key>
<string>{{332,173},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_440000.png</key>
<dict>
<key>frame</key>
<string>{{387,173},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_450000.png</key>
<dict>
<key>frame</key>
<string>{{332,230},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_460000.png</key>
<dict>
<key>frame</key>
<string>{{332,287},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_470000.png</key>
<dict>
<key>frame</key>
<string>{{387,230},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>color_480000.png</key>
<dict>
<key>frame</key>
<string>{{387,287},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>sandColor.png</string>
<key>size</key>
<string>{450,350}</string>
<key>textureFileName</key>
<string>sandColor.png</string>
</dict>
</dict>
</plist>
