<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>sandGroup_020000.png</key>
<dict>
<key>frame</key>
<string>{{2,40},{266,35}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{266,35}}</string>
<key>sourceSize</key>
<string>{266,35}</string>
</dict>
<key>sandGroup_030000.png</key>
<dict>
<key>frame</key>
<string>{{2,77},{267,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{267,34}}</string>
<key>sourceSize</key>
<string>{267,34}</string>
</dict>
<key>sandGroup_040000.png</key>
<dict>
<key>frame</key>
<string>{{2,113},{267,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{267,34}}</string>
<key>sourceSize</key>
<string>{267,34}</string>
</dict>
<key>sandGroup_050000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{269,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{269,36}}</string>
<key>sourceSize</key>
<string>{269,36}</string>
</dict>
<key>sandGroup_060000.png</key>
<dict>
<key>frame</key>
<string>{{2,149},{267,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{267,34}}</string>
<key>sourceSize</key>
<string>{267,34}</string>
</dict>
<key>sandGroup_070000.png</key>
<dict>
<key>frame</key>
<string>{{2,185},{267,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{267,34}}</string>
<key>sourceSize</key>
<string>{267,34}</string>
</dict>
<key>sandGroup_080000.png</key>
<dict>
<key>frame</key>
<string>{{2,221},{267,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{267,34}}</string>
<key>sourceSize</key>
<string>{267,34}</string>
</dict>
<key>sandGroup_090000.png</key>
<dict>
<key>frame</key>
<string>{{2,257},{267,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{267,34}}</string>
<key>sourceSize</key>
<string>{267,34}</string>
</dict>
<key>sandGroup_100000.png</key>
<dict>
<key>frame</key>
<string>{{2,293},{267,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{267,34}}</string>
<key>sourceSize</key>
<string>{267,34}</string>
</dict>
<key>sandGroup_110000.png</key>
<dict>
<key>frame</key>
<string>{{2,329},{267,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{267,34}}</string>
<key>sourceSize</key>
<string>{267,34}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>sandShop.png</string>
<key>size</key>
<string>{300,400}</string>
<key>textureFileName</key>
<string>sandShop.png</string>
</dict>
</dict>
</plist>
