<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>Awesome0000.png</key>
<dict>
<key>frame</key>
<string>{{2,1529},{198,29}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{198,29}}</string>
<key>sourceSize</key>
<string>{198,29}</string>
</dict>
<key>bt_buy0000.png</key>
<dict>
<key>frame</key>
<string>{{862,106},{137,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{137,54}}</string>
<key>sourceSize</key>
<string>{137,54}</string>
</dict>
<key>bt_buy0001.png</key>
<dict>
<key>frame</key>
<string>{{862,162},{137,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{137,54}}</string>
<key>sourceSize</key>
<string>{137,54}</string>
</dict>
<key>bt_buy0002.png</key>
<dict>
<key>frame</key>
<string>{{860,218},{137,54}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{137,54}}</string>
<key>sourceSize</key>
<string>{137,54}</string>
</dict>
<key>bt_buy0003.png</key>
<dict>
<key>frame</key>
<string>{{861,274},{124,41}}</string>
<key>offset</key>
<string>{5,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,13},{124,41}}</string>
<key>sourceSize</key>
<string>{124,41}</string>
</dict>
<key>bt_cancel0000.png</key>
<dict>
<key>frame</key>
<string>{{701,1317},{211,74}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,2},{211,74}}</string>
<key>sourceSize</key>
<string>{211,74}</string>
</dict>
<key>bt_cancel0001.png</key>
<dict>
<key>frame</key>
<string>{{2,1383},{211,74}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,2},{211,74}}</string>
<key>sourceSize</key>
<string>{211,74}</string>
</dict>
<key>bt_cancel0002.png</key>
<dict>
<key>frame</key>
<string>{{428,1388},{211,73}}</string>
<key>offset</key>
<string>{2,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,3},{211,73}}</string>
<key>sourceSize</key>
<string>{211,73}</string>
</dict>
<key>bt_cancel0003.png</key>
<dict>
<key>frame</key>
<string>{{2,1459},{201,68}}</string>
<key>offset</key>
<string>{7,-6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,8},{201,68}}</string>
<key>sourceSize</key>
<string>{201,68}</string>
</dict>
<key>bt_free_mode0000.png</key>
<dict>
<key>frame</key>
<string>{{590,628},{259,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,3},{259,78}}</string>
<key>sourceSize</key>
<string>{259,78}</string>
</dict>
<key>bt_free_mode0001.png</key>
<dict>
<key>frame</key>
<string>{{590,547},{259,79}}</string>
<key>offset</key>
<string>{0,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,2},{259,79}}</string>
<key>sourceSize</key>
<string>{259,79}</string>
</dict>
<key>bt_free_mode0002.png</key>
<dict>
<key>frame</key>
<string>{{590,864},{248,75}}</string>
<key>offset</key>
<string>{5,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{11,6},{248,75}}</string>
<key>sourceSize</key>
<string>{248,75}</string>
</dict>
<key>bt_free_mode0003.png</key>
<dict>
<key>frame</key>
<string>{{590,788},{259,74}}</string>
<key>offset</key>
<string>{0,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,7},{259,74}}</string>
<key>sourceSize</key>
<string>{259,74}</string>
</dict>
<key>bt_more_games0000.png</key>
<dict>
<key>frame</key>
<string>{{590,128},{270,83}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,2},{270,83}}</string>
<key>sourceSize</key>
<string>{270,83}</string>
</dict>
<key>bt_more_games0001.png</key>
<dict>
<key>frame</key>
<string>{{590,213},{268,82}}</string>
<key>offset</key>
<string>{1,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,3},{268,82}}</string>
<key>sourceSize</key>
<string>{268,82}</string>
</dict>
<key>bt_more_games0002.png</key>
<dict>
<key>frame</key>
<string>{{590,463},{257,82}}</string>
<key>offset</key>
<string>{6,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{13,3},{257,82}}</string>
<key>sourceSize</key>
<string>{257,82}</string>
</dict>
<key>bt_more_games_youxili0000.png</key>
<dict>
<key>frame</key>
<string>{{590,941},{240,74}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,1},{240,74}}</string>
<key>sourceSize</key>
<string>{240,74}</string>
</dict>
<key>bt_more_games_youxili0001.png</key>
<dict>
<key>frame</key>
<string>{{590,1017},{240,74}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,1},{240,74}}</string>
<key>sourceSize</key>
<string>{240,74}</string>
</dict>
<key>bt_more_games_youxili0002.png</key>
<dict>
<key>frame</key>
<string>{{2,1310},{229,71}}</string>
<key>offset</key>
<string>{6,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,4},{229,71}}</string>
<key>sourceSize</key>
<string>{229,71}</string>
</dict>
<key>bt_more_games_youxili0003.png</key>
<dict>
<key>frame</key>
<string>{{590,1245},{240,70}}</string>
<key>offset</key>
<string>{1,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{1,5},{240,70}}</string>
<key>sourceSize</key>
<string>{240,70}</string>
</dict>
<key>bt_ok0000.png</key>
<dict>
<key>frame</key>
<string>{{215,1383},{211,74}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,2},{211,74}}</string>
<key>sourceSize</key>
<string>{211,74}</string>
</dict>
<key>bt_ok0001.png</key>
<dict>
<key>frame</key>
<string>{{641,1393},{211,73}}</string>
<key>offset</key>
<string>{2,-3}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,3},{211,73}}</string>
<key>sourceSize</key>
<string>{211,73}</string>
</dict>
<key>bt_ok0002.png</key>
<dict>
<key>frame</key>
<string>{{205,1459},{201,68}}</string>
<key>offset</key>
<string>{7,-6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,8},{201,68}}</string>
<key>sourceSize</key>
<string>{201,68}</string>
</dict>
<key>bt_play_again0000.png</key>
<dict>
<key>frame</key>
<string>{{590,1093},{240,74}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,1},{240,74}}</string>
<key>sourceSize</key>
<string>{240,74}</string>
</dict>
<key>bt_play_again0001.png</key>
<dict>
<key>frame</key>
<string>{{590,1169},{240,74}}</string>
<key>offset</key>
<string>{0,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,1},{240,74}}</string>
<key>sourceSize</key>
<string>{240,74}</string>
</dict>
<key>bt_play_again0002.png</key>
<dict>
<key>frame</key>
<string>{{233,1310},{229,71}}</string>
<key>offset</key>
<string>{6,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{11,4},{229,71}}</string>
<key>sourceSize</key>
<string>{229,71}</string>
</dict>
<key>bt_play_again0003.png</key>
<dict>
<key>frame</key>
<string>{{464,1317},{235,69}}</string>
<key>offset</key>
<string>{3,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{5,6},{235,69}}</string>
<key>sourceSize</key>
<string>{235,69}</string>
</dict>
<key>bt_start_game0000.png</key>
<dict>
<key>frame</key>
<string>{{590,297},{269,81}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,4},{269,81}}</string>
<key>sourceSize</key>
<string>{269,81}</string>
</dict>
<key>bt_start_game0001.png</key>
<dict>
<key>frame</key>
<string>{{590,380},{269,81}}</string>
<key>offset</key>
<string>{0,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,4},{269,81}}</string>
<key>sourceSize</key>
<string>{269,81}</string>
</dict>
<key>bt_start_game0002.png</key>
<dict>
<key>frame</key>
<string>{{590,708},{257,78}}</string>
<key>offset</key>
<string>{6,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{12,7},{257,78}}</string>
<key>sourceSize</key>
<string>{257,78}</string>
</dict>
<key>creamy0000.png</key>
<dict>
<key>frame</key>
<string>{{925,317},{78,18}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{78,18}}</string>
<key>sourceSize</key>
<string>{78,18}</string>
</dict>
<key>draw_outline0000.png</key>
<dict>
<key>frame</key>
<string>{{686,1468},{251,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{251,49}}</string>
<key>sourceSize</key>
<string>{251,49}</string>
</dict>
<key>dusk0000.png</key>
<dict>
<key>frame</key>
<string>{{798,106},{55,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{55,14}}</string>
<key>sourceSize</key>
<string>{55,14}</string>
</dict>
<key>forest0000.png</key>
<dict>
<key>frame</key>
<string>{{861,393},{66,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{66,14}}</string>
<key>sourceSize</key>
<string>{66,14}</string>
</dict>
<key>girlish0000.png</key>
<dict>
<key>frame</key>
<string>{{861,317},{62,26}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{62,26}}</string>
<key>sourceSize</key>
<string>{62,26}</string>
</dict>
<key>gloomy0000.png</key>
<dict>
<key>frame</key>
<string>{{925,337},{78,18}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{78,18}}</string>
<key>sourceSize</key>
<string>{78,18}</string>
</dict>
<key>great_job0000.png</key>
<dict>
<key>frame</key>
<string>{{798,2},{206,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{206,102}}</string>
<key>sourceSize</key>
<string>{206,102}</string>
</dict>
<key>illusion0000.png</key>
<dict>
<key>frame</key>
<string>{{930,389},{74,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{74,14}}</string>
<key>sourceSize</key>
<string>{74,14}</string>
</dict>
<key>nigthts0000.png</key>
<dict>
<key>frame</key>
<string>{{861,373},{67,18}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{67,18}}</string>
<key>sourceSize</key>
<string>{67,18}</string>
</dict>
<key>oceanic0000.png</key>
<dict>
<key>frame</key>
<string>{{930,373},{82,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{82,14}}</string>
<key>sourceSize</key>
<string>{82,14}</string>
</dict>
<key>progress0000.png</key>
<dict>
<key>frame</key>
<string>{{840,864},{175,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{175,49}}</string>
<key>sourceSize</key>
<string>{175,49}</string>
</dict>
<key>sand_shop0000.png</key>
<dict>
<key>frame</key>
<string>{{731,1519},{211,35}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{211,35}}</string>
<key>sourceSize</key>
<string>{211,35}</string>
</dict>
<key>select_a_frame0000.png</key>
<dict>
<key>frame</key>
<string>{{408,1468},{276,49}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{276,49}}</string>
<key>sourceSize</key>
<string>{276,49}</string>
</dict>
<key>select_template0000.png</key>
<dict>
<key>frame</key>
<string>{{408,1519},{321,35}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{321,35}}</string>
<key>sourceSize</key>
<string>{321,35}</string>
</dict>
<key>sunshine0000.png</key>
<dict>
<key>frame</key>
<string>{{861,357},{92,14}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{92,14}}</string>
<key>sourceSize</key>
<string>{92,14}</string>
</dict>
<key>use_points_to_unlock_it0000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{586,434}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{586,434}}</string>
<key>sourceSize</key>
<string>{586,434}</string>
</dict>
<key>welcome0000.png</key>
<dict>
<key>frame</key>
<string>{{590,2},{206,124}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{206,124}}</string>
<key>sourceSize</key>
<string>{206,124}</string>
</dict>
<key>woods0000.png</key>
<dict>
<key>frame</key>
<string>{{955,357},{60,12}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,12}}</string>
<key>sourceSize</key>
<string>{60,12}</string>
</dict>
<key>you_will_lose_balabala0000.png</key>
<dict>
<key>frame</key>
<string>{{2,438},{586,434}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{586,434}}</string>
<key>sourceSize</key>
<string>{586,434}</string>
</dict>
<key>your_points_are_not0000.png</key>
<dict>
<key>frame</key>
<string>{{2,874},{586,434}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{586,434}}</string>
<key>sourceSize</key>
<string>{586,434}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>txt_lang.png</string>
<key>size</key>
<string>{1022,1600}</string>
<key>textureFileName</key>
<string>txt_lang.png</string>
</dict>
</dict>
</plist>
