<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>arrow0000.png</key>
<dict>
<key>frame</key>
<string>{{2,194},{72,72}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{72,72}}</string>
<key>sourceSize</key>
<string>{72,72}</string>
</dict>
<key>bt_baocun0000.png</key>
<dict>
<key>frame</key>
<string>{{207,282},{68,70}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{68,70}}</string>
<key>sourceSize</key>
<string>{68,70}</string>
</dict>
<key>bt_fanhuizhujiemian0000.png</key>
<dict>
<key>frame</key>
<string>{{121,359},{36,38}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{3,3},{36,38}}</string>
<key>sourceSize</key>
<string>{36,38}</string>
</dict>
<key>bt_fanhuizhujiemian0001.png</key>
<dict>
<key>frame</key>
<string>{{2,359},{39,41}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{39,41}}</string>
<key>sourceSize</key>
<string>{39,41}</string>
</dict>
<key>bt_gouwuche0000.png</key>
<dict>
<key>frame</key>
<string>{{197,2},{89,94}}</string>
<key>offset</key>
<string>{9,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{9,0},{89,94}}</string>
<key>sourceSize</key>
<string>{89,94}</string>
</dict>
<key>bt_gouwuche0001.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{98,94}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{98,94}}</string>
<key>sourceSize</key>
<string>{98,94}</string>
</dict>
<key>bt_gouwuche0002.png</key>
<dict>
<key>frame</key>
<string>{{102,2},{93,90}}</string>
<key>offset</key>
<string>{4,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{5,4},{93,90}}</string>
<key>sourceSize</key>
<string>{93,90}</string>
</dict>
<key>bt_gouwuche0003.png</key>
<dict>
<key>frame</key>
<string>{{193,98},{89,90}}</string>
<key>offset</key>
<string>{9,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{9,4},{89,90}}</string>
<key>sourceSize</key>
<string>{89,90}</string>
</dict>
<key>bt_music0000.png</key>
<dict>
<key>frame</key>
<string>{{51,423},{34,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{3,3},{34,34}}</string>
<key>sourceSize</key>
<string>{34,34}</string>
</dict>
<key>bt_music0001.png</key>
<dict>
<key>frame</key>
<string>{{43,359},{37,37}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{37,37}}</string>
<key>sourceSize</key>
<string>{37,37}</string>
</dict>
<key>bt_next0000.png</key>
<dict>
<key>frame</key>
<string>{{102,94},{89,94}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{89,94}}</string>
<key>sourceSize</key>
<string>{89,94}</string>
</dict>
<key>bt_next0001.png</key>
<dict>
<key>frame</key>
<string>{{2,98},{89,94}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{89,94}}</string>
<key>sourceSize</key>
<string>{89,94}</string>
</dict>
<key>bt_next0002.png</key>
<dict>
<key>frame</key>
<string>{{184,190},{85,90}}</string>
<key>offset</key>
<string>{2,-2}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{4,4},{85,90}}</string>
<key>sourceSize</key>
<string>{85,90}</string>
</dict>
<key>bt_next0003.png</key>
<dict>
<key>frame</key>
<string>{{93,190},{89,90}}</string>
<key>offset</key>
<string>{0,-4}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,4},{89,90}}</string>
<key>sourceSize</key>
<string>{89,90}</string>
</dict>
<key>bt_qiehuan0000.png</key>
<dict>
<key>frame</key>
<string>{{190,403},{47,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{47,47}}</string>
<key>sourceSize</key>
<string>{47,47}</string>
</dict>
<key>bt_qiehuan0001.png</key>
<dict>
<key>frame</key>
<string>{{239,403},{47,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{47,47}}</string>
<key>sourceSize</key>
<string>{47,47}</string>
</dict>
<key>bt_qiehuan0002.png</key>
<dict>
<key>frame</key>
<string>{{253,354},{43,45}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{4,2},{43,45}}</string>
<key>sourceSize</key>
<string>{43,45}</string>
</dict>
<key>bt_qiehuan0003.png</key>
<dict>
<key>frame</key>
<string>{{2,423},{47,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{47,47}}</string>
<key>sourceSize</key>
<string>{47,47}</string>
</dict>
<key>bt_sound0000.png</key>
<dict>
<key>frame</key>
<string>{{87,423},{34,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{3,3},{34,34}}</string>
<key>sourceSize</key>
<string>{34,34}</string>
</dict>
<key>bt_sound0001.png</key>
<dict>
<key>frame</key>
<string>{{82,359},{37,37}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{37,37}}</string>
<key>sourceSize</key>
<string>{37,37}</string>
</dict>
<key>jiazi0000.png</key>
<dict>
<key>frame</key>
<string>{{172,354},{79,47}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{79,47}}</string>
<key>sourceSize</key>
<string>{79,47}</string>
</dict>
<key>jindutiao0000.png</key>
<dict>
<key>frame</key>
<string>{{2,282},{203,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{203,34}}</string>
<key>sourceSize</key>
<string>{203,34}</string>
</dict>
<key>rainbow0000.png</key>
<dict>
<key>frame</key>
<string>{{2,403},{186,18}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{186,18}}</string>
<key>sourceSize</key>
<string>{186,18}</string>
</dict>
<key>score0000.png</key>
<dict>
<key>frame</key>
<string>{{2,318},{168,39}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{168,39}}</string>
<key>sourceSize</key>
<string>{168,39}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>ui_btns.png</string>
<key>size</key>
<string>{300,500}</string>
<key>textureFileName</key>
<string>ui_btns.png</string>
</dict>
</dict>
</plist>
