<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>loading0000.png</key>
<dict>
<key>frame</key>
<string>{{4,4},{1084,724}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{1084,724}}</string>
<key>sourceSize</key>
<string>{1084,724}</string>
</dict>
<key>loading_jindutiao0000.png</key>
<dict>
<key>frame</key>
<string>{{4,730},{626,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{626,30}}</string>
<key>sourceSize</key>
<string>{626,30}</string>
</dict>
<key>loading_rainbow0000.png</key>
<dict>
<key>frame</key>
<string>{{632,730},{614,20}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{614,20}}</string>
<key>sourceSize</key>
<string>{614,20}</string>
</dict>
<key>loading_t0000.png</key>
<dict>
<key>frame</key>
<string>{{1090,36},{246,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{7,0},{246,30}}</string>
<key>sourceSize</key>
<string>{246,30}</string>
</dict>
<key>loading_t0001.png</key>
<dict>
<key>frame</key>
<string>{{1090,68},{246,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{7,0},{246,30}}</string>
<key>sourceSize</key>
<string>{246,30}</string>
</dict>
<key>loading_t0002.png</key>
<dict>
<key>frame</key>
<string>{{1090,4},{253,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{253,30}}</string>
<key>sourceSize</key>
<string>{253,30}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>ui_loading.png</string>
<key>size</key>
<string>{2048,2048}</string>
<key>textureFileName</key>
<string>ui_loading.png</string>
</dict>
</dict>
</plist>
