<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>bt_caisha0000.png</key>
<dict>
<key>frame</key>
<string>{{749,725},{53,55}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{53,55}}</string>
<key>sourceSize</key>
<string>{53,55}</string>
</dict>
<key>diban0000.png</key>
<dict>
<key>frame</key>
<string>{{2,725},{232,184}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{232,184}}</string>
<key>sourceSize</key>
<string>{232,184}</string>
</dict>
<key>gouwuche0000.png</key>
<dict>
<key>frame</key>
<string>{{804,725},{49,49}}</string>
<key>offset</key>
<string>{19,-15}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{37,29},{49,49}}</string>
<key>sourceSize</key>
<string>{49,49}</string>
</dict>
<key>gouwuche0001.png</key>
<dict>
<key>frame</key>
<string>{{661,725},{86,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{86,78}}</string>
<key>sourceSize</key>
<string>{86,78}</string>
</dict>
<key>gouwuche0002.png</key>
<dict>
<key>frame</key>
<string>{{978,725},{32,32}}</string>
<key>offset</key>
<string>{26,-21}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{54,46},{32,32}}</string>
<key>sourceSize</key>
<string>{32,32}</string>
</dict>
<key>gouwuche0003.png</key>
<dict>
<key>frame</key>
<string>{{935,725},{41,41}}</string>
<key>offset</key>
<string>{23,-18}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{45,37},{41,41}}</string>
<key>sourceSize</key>
<string>{41,41}</string>
</dict>
<key>jinbi0000.png</key>
<dict>
<key>frame</key>
<string>{{855,725},{78,30}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{78,30}}</string>
<key>sourceSize</key>
<string>{78,30}</string>
</dict>
<key>weijiesuo0000.png</key>
<dict>
<key>frame</key>
<string>{{457,725},{202,172}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{202,172}}</string>
<key>sourceSize</key>
<string>{202,172}</string>
</dict>
<key>xuanmoban0000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{1081,721}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{1081,721}}</string>
<key>sourceSize</key>
<string>{1081,721}</string>
</dict>
<key>xuanzhong0000.png</key>
<dict>
<key>frame</key>
<string>{{236,725},{219,191}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{219,191}}</string>
<key>sourceSize</key>
<string>{219,191}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>ui_selectTemplate.png</string>
<key>size</key>
<string>{1100,950}</string>
<key>textureFileName</key>
<string>ui_selectTemplate.png</string>
</dict>
</dict>
</plist>
