<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_150000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{294,446}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{294,446}}</string>
<key>sourceSize</key>
<string>{294,446}</string>
</dict>
<key>muban_150001.png</key>
<dict>
<key>frame</key>
<string>{{298,2},{294,446}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{294,446}}</string>
<key>sourceSize</key>
<string>{294,446}</string>
</dict>
<key>muban_150002.png</key>
<dict>
<key>frame</key>
<string>{{2,450},{248,363}}</string>
<key>offset</key>
<string>{45,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{46,83},{248,363}}</string>
<key>sourceSize</key>
<string>{248,363}</string>
</dict>
<key>muban_150003.png</key>
<dict>
<key>frame</key>
<string>{{252,614},{185,238}}</string>
<key>offset</key>
<string>{87,-85}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{109,208},{185,238}}</string>
<key>sourceSize</key>
<string>{185,238}</string>
</dict>
<key>muban_150004.png</key>
<dict>
<key>frame</key>
<string>{{439,614},{113,37}}</string>
<key>offset</key>
<string>{137,-126}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{181,409},{113,37}}</string>
<key>sourceSize</key>
<string>{113,37}</string>
</dict>
<key>muban_150005.png</key>
<dict>
<key>frame</key>
<string>{{532,450},{43,16}}</string>
<key>offset</key>
<string>{171,-175}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{251,430},{43,16}}</string>
<key>sourceSize</key>
<string>{43,16}</string>
</dict>
<key>muban_150006.png</key>
<dict>
<key>frame</key>
<string>{{532,468},{28,24}}</string>
<key>offset</key>
<string>{190,-227}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{266,422},{28,24}}</string>
<key>sourceSize</key>
<string>{28,24}</string>
</dict>
<key>muban_150007.png</key>
<dict>
<key>frame</key>
<string>{{439,653},{65,33}}</string>
<key>offset</key>
<string>{126,-268}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{229,413},{65,33}}</string>
<key>sourceSize</key>
<string>{65,33}</string>
</dict>
<key>muban_150008.png</key>
<dict>
<key>frame</key>
<string>{{252,450},{278,162}}</string>
<key>offset</key>
<string>{1,-283}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{16,284},{278,162}}</string>
<key>sourceSize</key>
<string>{278,162}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_15.png</string>
<key>size</key>
<string>{600,900}</string>
<key>textureFileName</key>
<string>template_15.png</string>
</dict>
</dict>
</plist>
