<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_070000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{391,448}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{391,448}}</string>
<key>sourceSize</key>
<string>{391,448}</string>
</dict>
<key>muban_070001.png</key>
<dict>
<key>frame</key>
<string>{{395,2},{391,448}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{391,448}}</string>
<key>sourceSize</key>
<string>{391,448}</string>
</dict>
<key>muban_070002.png</key>
<dict>
<key>frame</key>
<string>{{393,452},{362,323}}</string>
<key>offset</key>
<string>{14,-13}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{29,125},{362,323}}</string>
<key>sourceSize</key>
<string>{362,323}</string>
</dict>
<key>muban_070003.png</key>
<dict>
<key>frame</key>
<string>{{2,452},{389,348}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,100},{389,348}}</string>
<key>sourceSize</key>
<string>{389,348}</string>
</dict>
<key>muban_070004.png</key>
<dict>
<key>frame</key>
<string>{{393,777},{245,120}}</string>
<key>offset</key>
<string>{73,-327}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{146,328},{245,120}}</string>
<key>sourceSize</key>
<string>{245,120}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_07.png</string>
<key>size</key>
<string>{800,950}</string>
<key>textureFileName</key>
<string>template_07.png</string>
</dict>
</dict>
</plist>
