<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_080000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{470,403}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{470,403}}</string>
<key>sourceSize</key>
<string>{470,403}</string>
</dict>
<key>muban_080001.png</key>
<dict>
<key>frame</key>
<string>{{474,2},{470,403}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{470,403}}</string>
<key>sourceSize</key>
<string>{470,403}</string>
</dict>
<key>muban_080002.png</key>
<dict>
<key>frame</key>
<string>{{197,407},{468,91}}</string>
<key>offset</key>
<string>{1,-267}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,312},{468,91}}</string>
<key>sourceSize</key>
<string>{468,91}</string>
</dict>
<key>muban_080003.png</key>
<dict>
<key>frame</key>
<string>{{654,506},{103,104}}</string>
<key>offset</key>
<string>{10,-287}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{367,299},{103,104}}</string>
<key>sourceSize</key>
<string>{103,104}</string>
</dict>
<key>muban_080004.png</key>
<dict>
<key>frame</key>
<string>{{887,407},{116,114}}</string>
<key>offset</key>
<string>{260,-288}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{354,289},{116,114}}</string>
<key>sourceSize</key>
<string>{116,114}</string>
</dict>
<key>muban_080005.png</key>
<dict>
<key>frame</key>
<string>{{759,506},{99,107}}</string>
<key>offset</key>
<string>{361,-267}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{371,296},{99,107}}</string>
<key>sourceSize</key>
<string>{99,107}</string>
</dict>
<key>muban_080006.png</key>
<dict>
<key>frame</key>
<string>{{2,407},{193,247}}</string>
<key>offset</key>
<string>{95,-136}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{277,156},{193,247}}</string>
<key>sourceSize</key>
<string>{193,247}</string>
</dict>
<key>muban_080007.png</key>
<dict>
<key>frame</key>
<string>{{860,563},{113,49}}</string>
<key>offset</key>
<string>{147,-212}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{357,354},{113,49}}</string>
<key>sourceSize</key>
<string>{113,49}</string>
</dict>
<key>muban_080008.png</key>
<dict>
<key>frame</key>
<string>{{340,500},{149,73}}</string>
<key>offset</key>
<string>{121,-174}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{321,330},{149,73}}</string>
<key>sourceSize</key>
<string>{149,73}</string>
</dict>
<key>muban_080009.png</key>
<dict>
<key>frame</key>
<string>{{491,500},{161,67}}</string>
<key>offset</key>
<string>{110,-147}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{309,336},{161,67}}</string>
<key>sourceSize</key>
<string>{161,67}</string>
</dict>
<key>muban_080010.png</key>
<dict>
<key>frame</key>
<string>{{860,523},{162,38}}</string>
<key>offset</key>
<string>{109,-141}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{308,365},{162,38}}</string>
<key>sourceSize</key>
<string>{162,38}</string>
</dict>
<key>muban_080011.png</key>
<dict>
<key>frame</key>
<string>{{667,407},{218,97}}</string>
<key>offset</key>
<string>{78,-81}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{252,306},{218,97}}</string>
<key>sourceSize</key>
<string>{218,97}</string>
</dict>
<key>muban_080012.png</key>
<dict>
<key>frame</key>
<string>{{197,500},{141,93}}</string>
<key>offset</key>
<string>{115,-29}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{329,310},{141,93}}</string>
<key>sourceSize</key>
<string>{141,93}</string>
</dict>
<key>muban_080013.png</key>
<dict>
<key>frame</key>
<string>{{946,2},{69,70}}</string>
<key>offset</key>
<string>{201,-21}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{401,333},{69,70}}</string>
<key>sourceSize</key>
<string>{69,70}</string>
</dict>
<key>muban_080014.png</key>
<dict>
<key>frame</key>
<string>{{946,194},{45,44}}</string>
<key>offset</key>
<string>{210,-37}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{425,359},{45,44}}</string>
<key>sourceSize</key>
<string>{45,44}</string>
</dict>
<key>muban_080015.png</key>
<dict>
<key>frame</key>
<string>{{946,74},{60,70}}</string>
<key>offset</key>
<string>{90,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{410,333},{60,70}}</string>
<key>sourceSize</key>
<string>{60,70}</string>
</dict>
<key>muban_080016.png</key>
<dict>
<key>frame</key>
<string>{{946,146},{61,46}}</string>
<key>offset</key>
<string>{83,-53}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{409,357},{61,46}}</string>
<key>sourceSize</key>
<string>{61,46}</string>
</dict>
<key>muban_080017.png</key>
<dict>
<key>frame</key>
<string>{{946,240},{46,35}}</string>
<key>offset</key>
<string>{44,-26}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{424,368},{46,35}}</string>
<key>sourceSize</key>
<string>{46,35}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_08.png</string>
<key>size</key>
<string>{1024,700}</string>
<key>textureFileName</key>
<string>template_08.png</string>
</dict>
</dict>
</plist>
