<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_160000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{231,454}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{231,454}}</string>
<key>sourceSize</key>
<string>{231,454}</string>
</dict>
<key>muban_160001.png</key>
<dict>
<key>frame</key>
<string>{{235,2},{231,454}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{231,454}}</string>
<key>sourceSize</key>
<string>{231,454}</string>
</dict>
<key>muban_160002.png</key>
<dict>
<key>frame</key>
<string>{{468,2},{229,421}}</string>
<key>offset</key>
<string>{1,-32}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,33},{229,421}}</string>
<key>sourceSize</key>
<string>{229,421}</string>
</dict>
<key>muban_160003.png</key>
<dict>
<key>frame</key>
<string>{{807,375},{25,13}}</string>
<key>offset</key>
<string>{95,-109}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{206,441},{25,13}}</string>
<key>sourceSize</key>
<string>{25,13}</string>
</dict>
<key>muban_160004.png</key>
<dict>
<key>frame</key>
<string>{{699,2},{168,261}}</string>
<key>offset</key>
<string>{56,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{63,193},{168,261}}</string>
<key>sourceSize</key>
<string>{168,261}</string>
</dict>
<key>muban_160005.png</key>
<dict>
<key>frame</key>
<string>{{468,425},{70,68}}</string>
<key>offset</key>
<string>{133,-7}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{161,386},{70,68}}</string>
<key>sourceSize</key>
<string>{70,68}</string>
</dict>
<key>muban_160006.png</key>
<dict>
<key>frame</key>
<string>{{869,2},{132,208}}</string>
<key>offset</key>
<string>{32,-151}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{99,246},{132,208}}</string>
<key>sourceSize</key>
<string>{132,208}</string>
</dict>
<key>muban_160007.png</key>
<dict>
<key>frame</key>
<string>{{869,212},{125,188}}</string>
<key>offset</key>
<string>{35,-162}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{106,266},{125,188}}</string>
<key>sourceSize</key>
<string>{125,188}</string>
</dict>
<key>muban_160008.png</key>
<dict>
<key>frame</key>
<string>{{699,375},{106,112}}</string>
<key>offset</key>
<string>{84,-233}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{125,342},{106,112}}</string>
<key>sourceSize</key>
<string>{106,112}</string>
</dict>
<key>muban_160009.png</key>
<dict>
<key>frame</key>
<string>{{699,265},{149,108}}</string>
<key>offset</key>
<string>{18,-326}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{82,346},{149,108}}</string>
<key>sourceSize</key>
<string>{149,108}</string>
</dict>
<key>muban_160010.png</key>
<dict>
<key>frame</key>
<string>{{807,402},{147,35}}</string>
<key>offset</key>
<string>{15,-409}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{84,419},{147,35}}</string>
<key>sourceSize</key>
<string>{147,35}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_16.png</string>
<key>size</key>
<string>{1024,512}</string>
<key>textureFileName</key>
<string>template_16.png</string>
</dict>
</dict>
</plist>
