<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_110000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{407,424}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{407,424}}</string>
<key>sourceSize</key>
<string>{407,424}</string>
</dict>
<key>muban_110001.png</key>
<dict>
<key>frame</key>
<string>{{411,2},{407,424}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{407,424}}</string>
<key>sourceSize</key>
<string>{407,424}</string>
</dict>
<key>muban_110002.png</key>
<dict>
<key>frame</key>
<string>{{820,377},{194,172}}</string>
<key>offset</key>
<string>{169,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{213,252},{194,172}}</string>
<key>sourceSize</key>
<string>{194,172}</string>
</dict>
<key>muban_110003.png</key>
<dict>
<key>frame</key>
<string>{{227,494},{79,72}}</string>
<key>offset</key>
<string>{240,-55}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{328,352},{79,72}}</string>
<key>sourceSize</key>
<string>{79,72}</string>
</dict>
<key>muban_110004.png</key>
<dict>
<key>frame</key>
<string>{{820,2},{179,373}}</string>
<key>offset</key>
<string>{1,-6}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{228,51},{179,373}}</string>
<key>sourceSize</key>
<string>{179,373}</string>
</dict>
<key>muban_110005.png</key>
<dict>
<key>frame</key>
<string>{{2,428},{223,186}}</string>
<key>offset</key>
<string>{94,-214}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{184,238},{223,186}}</string>
<key>sourceSize</key>
<string>{223,186}</string>
</dict>
<key>muban_110006.png</key>
<dict>
<key>frame</key>
<string>{{628,428},{144,175}}</string>
<key>offset</key>
<string>{242,-219}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{263,249},{144,175}}</string>
<key>sourceSize</key>
<string>{144,175}</string>
</dict>
<key>muban_110007.png</key>
<dict>
<key>frame</key>
<string>{{308,494},{63,47}}</string>
<key>offset</key>
<string>{184,-172}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{344,377},{63,47}}</string>
<key>sourceSize</key>
<string>{63,47}</string>
</dict>
<key>muban_110008.png</key>
<dict>
<key>frame</key>
<string>{{774,428},{30,53}}</string>
<key>offset</key>
<string>{162,-163}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{377,371},{30,53}}</string>
<key>sourceSize</key>
<string>{30,53}</string>
</dict>
<key>muban_110009.png</key>
<dict>
<key>frame</key>
<string>{{227,428},{399,64}}</string>
<key>offset</key>
<string>{7,-359}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{8,360},{399,64}}</string>
<key>sourceSize</key>
<string>{399,64}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_11.png</string>
<key>size</key>
<string>{1024,700}</string>
<key>textureFileName</key>
<string>template_11.png</string>
</dict>
</dict>
</plist>
