<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_100000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{568,432}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{568,432}}</string>
<key>sourceSize</key>
<string>{568,432}</string>
</dict>
<key>muban_100001.png</key>
<dict>
<key>frame</key>
<string>{{2,436},{568,432}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{568,432}}</string>
<key>sourceSize</key>
<string>{568,432}</string>
</dict>
<key>muban_100002.png</key>
<dict>
<key>frame</key>
<string>{{572,2},{414,282}}</string>
<key>offset</key>
<string>{58,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{154,150},{414,282}}</string>
<key>sourceSize</key>
<string>{414,282}</string>
</dict>
<key>muban_100003.png</key>
<dict>
<key>frame</key>
<string>{{572,286},{194,255}}</string>
<key>offset</key>
<string>{189,-127}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{374,177},{194,255}}</string>
<key>sourceSize</key>
<string>{194,255}</string>
</dict>
<key>muban_100004.png</key>
<dict>
<key>frame</key>
<string>{{768,286},{184,89}}</string>
<key>offset</key>
<string>{193,-318}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{384,343},{184,89}}</string>
<key>sourceSize</key>
<string>{184,89}</string>
</dict>
<key>muban_100005.png</key>
<dict>
<key>frame</key>
<string>{{572,543},{194,106}}</string>
<key>offset</key>
<string>{191,-315}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{374,326},{194,106}}</string>
<key>sourceSize</key>
<string>{194,106}</string>
</dict>
<key>muban_100006.png</key>
<dict>
<key>frame</key>
<string>{{572,704},{120,62}}</string>
<key>offset</key>
<string>{129,-245}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{448,370},{120,62}}</string>
<key>sourceSize</key>
<string>{120,62}</string>
</dict>
<key>muban_100007.png</key>
<dict>
<key>frame</key>
<string>{{572,651},{301,51}}</string>
<key>offset</key>
<string>{129,-380}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{267,381},{301,51}}</string>
<key>sourceSize</key>
<string>{301,51}</string>
</dict>
<key>muban_100008.png</key>
<dict>
<key>frame</key>
<string>{{2,870},{532,90}}</string>
<key>offset</key>
<string>{18,-341}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{36,342},{532,90}}</string>
<key>sourceSize</key>
<string>{532,90}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_10.png</string>
<key>size</key>
<string>{1000,1000}</string>
<key>textureFileName</key>
<string>template_10.png</string>
</dict>
</dict>
</plist>
