<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_060000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{610,355}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{610,355}}</string>
<key>sourceSize</key>
<string>{610,355}</string>
</dict>
<key>muban_060001.png</key>
<dict>
<key>frame</key>
<string>{{2,359},{610,355}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{610,355}}</string>
<key>sourceSize</key>
<string>{610,355}</string>
</dict>
<key>muban_060002.png</key>
<dict>
<key>frame</key>
<string>{{612,716},{305,218}}</string>
<key>offset</key>
<string>{143,-75}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{305,137},{305,218}}</string>
<key>sourceSize</key>
<string>{305,218}</string>
</dict>
<key>muban_060003.png</key>
<dict>
<key>frame</key>
<string>{{2,908},{431,61}}</string>
<key>offset</key>
<string>{96,-138}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{179,294},{431,61}}</string>
<key>sourceSize</key>
<string>{431,61}</string>
</dict>
<key>muban_060004.png</key>
<dict>
<key>frame</key>
<string>{{614,2},{396,125}}</string>
<key>offset</key>
<string>{100,-229}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{214,230},{396,125}}</string>
<key>sourceSize</key>
<string>{396,125}</string>
</dict>
<key>muban_060005.png</key>
<dict>
<key>frame</key>
<string>{{2,716},{608,190}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,165},{608,190}}</string>
<key>sourceSize</key>
<string>{608,190}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_06.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>textureFileName</key>
<string>template_06.png</string>
</dict>
</dict>
</plist>
