<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_020000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{320,443}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{320,443}}</string>
<key>sourceSize</key>
<string>{320,443}</string>
</dict>
<key>muban_020001.png</key>
<dict>
<key>frame</key>
<string>{{324,2},{320,443}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{320,443}}</string>
<key>sourceSize</key>
<string>{320,443}</string>
</dict>
<key>muban_020002.png</key>
<dict>
<key>frame</key>
<string>{{322,447},{183,184}}</string>
<key>offset</key>
<string>{74,-70}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{137,259},{183,184}}</string>
<key>sourceSize</key>
<string>{183,184}</string>
</dict>
<key>muban_020003.png</key>
<dict>
<key>frame</key>
<string>{{507,447},{133,126}}</string>
<key>offset</key>
<string>{152,-37}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{187,317},{133,126}}</string>
<key>sourceSize</key>
<string>{133,126}</string>
</dict>
<key>muban_020004.png</key>
<dict>
<key>frame</key>
<string>{{2,447},{318,315}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,128},{318,315}}</string>
<key>sourceSize</key>
<string>{318,315}</string>
</dict>
<key>muban_020005.png</key>
<dict>
<key>frame</key>
<string>{{576,575},{33,129}}</string>
<key>offset</key>
<string>{155,-313}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{287,314},{33,129}}</string>
<key>sourceSize</key>
<string>{33,129}</string>
</dict>
<key>muban_020006.png</key>
<dict>
<key>frame</key>
<string>{{322,633},{252,116}}</string>
<key>offset</key>
<string>{37,-312}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{68,327},{252,116}}</string>
<key>sourceSize</key>
<string>{252,116}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_02.png</string>
<key>size</key>
<string>{700,800}</string>
<key>textureFileName</key>
<string>template_02.png</string>
</dict>
</dict>
</plist>
