<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_090000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{519,447}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{519,447}}</string>
<key>sourceSize</key>
<string>{519,447}</string>
</dict>
<key>muban_090001.png</key>
<dict>
<key>frame</key>
<string>{{2,451},{519,447}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{519,447}}</string>
<key>sourceSize</key>
<string>{519,447}</string>
</dict>
<key>muban_090002.png</key>
<dict>
<key>frame</key>
<string>{{523,2},{517,405}}</string>
<key>offset</key>
<string>{1,-41}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,42},{517,405}}</string>
<key>sourceSize</key>
<string>{517,405}</string>
</dict>
<key>muban_090003.png</key>
<dict>
<key>frame</key>
<string>{{523,569},{183,207}}</string>
<key>offset</key>
<string>{141,-125}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{336,240},{183,207}}</string>
<key>sourceSize</key>
<string>{183,207}</string>
</dict>
<key>muban_090004.png</key>
<dict>
<key>frame</key>
<string>{{523,409},{357,158}}</string>
<key>offset</key>
<string>{77,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{162,289},{357,158}}</string>
<key>sourceSize</key>
<string>{357,158}</string>
</dict>
<key>muban_090005.png</key>
<dict>
<key>frame</key>
<string>{{708,652},{93,98}}</string>
<key>offset</key>
<string>{375,-268}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{426,349},{93,98}}</string>
<key>sourceSize</key>
<string>{93,98}</string>
</dict>
<key>muban_090006.png</key>
<dict>
<key>frame</key>
<string>{{892,652},{93,60}}</string>
<key>offset</key>
<string>{379,-289}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{426,387},{93,60}}</string>
<key>sourceSize</key>
<string>{93,60}</string>
</dict>
<key>muban_090007.png</key>
<dict>
<key>frame</key>
<string>{{523,778},{334,110}}</string>
<key>offset</key>
<string>{169,-270}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{185,337},{334,110}}</string>
<key>sourceSize</key>
<string>{334,110}</string>
</dict>
<key>muban_090008.png</key>
<dict>
<key>frame</key>
<string>{{708,569},{304,81}}</string>
<key>offset</key>
<string>{102,-346}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{215,366},{304,81}}</string>
<key>sourceSize</key>
<string>{304,81}</string>
</dict>
<key>muban_090009.png</key>
<dict>
<key>frame</key>
<string>{{803,652},{87,74}}</string>
<key>offset</key>
<string>{230,-358}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{432,373},{87,74}}</string>
<key>sourceSize</key>
<string>{87,74}</string>
</dict>
<key>muban_090010.png</key>
<dict>
<key>frame</key>
<string>{{882,409},{115,115}}</string>
<key>offset</key>
<string>{9,-280}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{404,332},{115,115}}</string>
<key>sourceSize</key>
<string>{115,115}</string>
</dict>
<key>muban_090011.png</key>
<dict>
<key>frame</key>
<string>{{859,728},{68,89}}</string>
<key>offset</key>
<string>{53,-304}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{451,358},{68,89}}</string>
<key>sourceSize</key>
<string>{68,89}</string>
</dict>
<key>muban_090012.png</key>
<dict>
<key>frame</key>
<string>{{708,752},{56,24}}</string>
<key>offset</key>
<string>{53,-281}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{463,423},{56,24}}</string>
<key>sourceSize</key>
<string>{56,24}</string>
</dict>
<key>muban_090013.png</key>
<dict>
<key>frame</key>
<string>{{803,728},{30,22}}</string>
<key>offset</key>
<string>{24,-283}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{489,425},{30,22}}</string>
<key>sourceSize</key>
<string>{30,22}</string>
</dict>
<key>muban_090014.png</key>
<dict>
<key>frame</key>
<string>{{999,409},{45,83}}</string>
<key>offset</key>
<string>{9,-304}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{474,364},{45,83}}</string>
<key>sourceSize</key>
<string>{45,83}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_09.png</string>
<key>size</key>
<string>{1050,1024}</string>
<key>textureFileName</key>
<string>template_09.png</string>
</dict>
</dict>
</plist>
