<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_010000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{404,446}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{404,446}}</string>
<key>sourceSize</key>
<string>{404,446}</string>
</dict>
<key>muban_010001.png</key>
<dict>
<key>frame</key>
<string>{{408,2},{404,446}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{404,446}}</string>
<key>sourceSize</key>
<string>{404,446}</string>
</dict>
<key>muban_010002.png</key>
<dict>
<key>frame</key>
<string>{{722,831},{125,48}}</string>
<key>offset</key>
<string>{96,-77}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{279,398},{125,48}}</string>
<key>sourceSize</key>
<string>{125,48}</string>
</dict>
<key>muban_010003.png</key>
<dict>
<key>frame</key>
<string>{{722,784},{140,45}}</string>
<key>offset</key>
<string>{88,-67}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{264,401},{140,45}}</string>
<key>sourceSize</key>
<string>{140,45}</string>
</dict>
<key>muban_010004.png</key>
<dict>
<key>frame</key>
<string>{{289,851},{82,45}}</string>
<key>offset</key>
<string>{117,-137}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{322,401},{82,45}}</string>
<key>sourceSize</key>
<string>{82,45}</string>
</dict>
<key>muban_010005.png</key>
<dict>
<key>frame</key>
<string>{{849,831},{42,61}}</string>
<key>offset</key>
<string>{134,-170}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{362,385},{42,61}}</string>
<key>sourceSize</key>
<string>{42,61}</string>
</dict>
<key>muban_010006.png</key>
<dict>
<key>frame</key>
<string>{{722,450},{203,332}}</string>
<key>offset</key>
<string>{58,-22}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{201,114},{203,332}}</string>
<key>sourceSize</key>
<string>{203,332}</string>
</dict>
<key>muban_010007.png</key>
<dict>
<key>frame</key>
<string>{{406,450},{314,438}}</string>
<key>offset</key>
<string>{70,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{90,8},{314,438}}</string>
<key>sourceSize</key>
<string>{314,438}</string>
</dict>
<key>muban_010008.png</key>
<dict>
<key>frame</key>
<string>{{2,450},{402,399}}</string>
<key>offset</key>
<string>{1,-12}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,47},{402,399}}</string>
<key>sourceSize</key>
<string>{402,399}</string>
</dict>
<key>muban_010009.png</key>
<dict>
<key>frame</key>
<string>{{2,851},{285,75}}</string>
<key>offset</key>
<string>{47,-370}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{119,371},{285,75}}</string>
<key>sourceSize</key>
<string>{285,75}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_01.png</string>
<key>size</key>
<string>{1000,1000}</string>
<key>textureFileName</key>
<string>template_01.png</string>
</dict>
</dict>
</plist>
