<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_040000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{506,383}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{506,383}}</string>
<key>sourceSize</key>
<string>{506,383}</string>
</dict>
<key>muban_040001.png</key>
<dict>
<key>frame</key>
<string>{{2,387},{506,383}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{506,383}}</string>
<key>sourceSize</key>
<string>{506,383}</string>
</dict>
<key>muban_040002.png</key>
<dict>
<key>frame</key>
<string>{{905,353},{46,219}}</string>
<key>offset</key>
<string>{230,-66}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{460,164},{46,219}}</string>
<key>sourceSize</key>
<string>{46,219}</string>
</dict>
<key>muban_040003.png</key>
<dict>
<key>frame</key>
<string>{{277,831},{230,70}}</string>
<key>offset</key>
<string>{138,-104}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{276,313},{230,70}}</string>
<key>sourceSize</key>
<string>{230,70}</string>
</dict>
<key>muban_040004.png</key>
<dict>
<key>frame</key>
<string>{{510,353},{384,171}}</string>
<key>offset</key>
<string>{61,-40}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{122,212},{384,171}}</string>
<key>sourceSize</key>
<string>{384,171}</string>
</dict>
<key>muban_040005.png</key>
<dict>
<key>frame</key>
<string>{{510,635},{334,117}}</string>
<key>offset</key>
<string>{86,-65}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{172,266},{334,117}}</string>
<key>sourceSize</key>
<string>{334,117}</string>
</dict>
<key>muban_040006.png</key>
<dict>
<key>frame</key>
<string>{{510,2},{478,349}}</string>
<key>offset</key>
<string>{14,-33}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{28,34},{478,349}}</string>
<key>sourceSize</key>
<string>{478,349}</string>
</dict>
<key>muban_040007.png</key>
<dict>
<key>frame</key>
<string>{{2,772},{504,57}}</string>
<key>offset</key>
<string>{1,-16}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,326},{504,57}}</string>
<key>sourceSize</key>
<string>{504,57}</string>
</dict>
<key>muban_040008.png</key>
<dict>
<key>frame</key>
<string>{{742,754},{161,148}}</string>
<key>offset</key>
<string>{172,-205}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{345,235},{161,148}}</string>
<key>sourceSize</key>
<string>{161,148}</string>
</dict>
<key>muban_040009.png</key>
<dict>
<key>frame</key>
<string>{{510,754},{230,131}}</string>
<key>offset</key>
<string>{138,-188}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{276,252},{230,131}}</string>
<key>sourceSize</key>
<string>{230,131}</string>
</dict>
<key>muban_040010.png</key>
<dict>
<key>frame</key>
<string>{{2,831},{273,82}}</string>
<key>offset</key>
<string>{117,-201}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{233,301},{273,82}}</string>
<key>sourceSize</key>
<string>{273,82}</string>
</dict>
<key>muban_040011.png</key>
<dict>
<key>frame</key>
<string>{{277,903},{329,45}}</string>
<key>offset</key>
<string>{88,-208}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{177,338},{329,45}}</string>
<key>sourceSize</key>
<string>{329,45}</string>
</dict>
<key>muban_040012.png</key>
<dict>
<key>frame</key>
<string>{{510,526},{393,107}}</string>
<key>offset</key>
<string>{56,-264}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{113,276},{393,107}}</string>
<key>sourceSize</key>
<string>{393,107}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_04.png</string>
<key>size</key>
<string>{1024,1024}</string>
<key>textureFileName</key>
<string>template_04.png</string>
</dict>
</dict>
</plist>
