<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>mb_01_s0000.png</key>
<dict>
<key>frame</key>
<string>{{270,212},{104,114}}</string>
<key>offset</key>
<string>{-50,55}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{104,114}}</string>
<key>sourceSize</key>
<string>{104,114}</string>
</dict>
<key>mb_02_s0000.png</key>
<dict>
<key>frame</key>
<string>{{376,212},{82,114}}</string>
<key>offset</key>
<string>{-40,55}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{82,114}}</string>
<key>sourceSize</key>
<string>{82,114}</string>
</dict>
<key>mb_03_s0000.png</key>
<dict>
<key>frame</key>
<string>{{296,100},{100,110}}</string>
<key>offset</key>
<string>{-48,54}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,110}}</string>
<key>sourceSize</key>
<string>{100,110}</string>
</dict>
<key>mb_04_s0000.png</key>
<dict>
<key>frame</key>
<string>{{140,212},{128,98}}</string>
<key>offset</key>
<string>{-63,48}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,98}}</string>
<key>sourceSize</key>
<string>{128,98}</string>
</dict>
<key>mb_05_s0000.png</key>
<dict>
<key>frame</key>
<string>{{2,114},{136,108}}</string>
<key>offset</key>
<string>{-67,53}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{136,108}}</string>
<key>sourceSize</key>
<string>{136,108}</string>
</dict>
<key>mb_06_s0000.png</key>
<dict>
<key>frame</key>
<string>{{140,118},{154,92}}</string>
<key>offset</key>
<string>{-76,44}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{154,92}}</string>
<key>sourceSize</key>
<string>{154,92}</string>
</dict>
<key>mb_07_s0000.png</key>
<dict>
<key>frame</key>
<string>{{124,312},{100,114}}</string>
<key>offset</key>
<string>{-49,56}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,114}}</string>
<key>sourceSize</key>
<string>{100,114}</string>
</dict>
<key>mb_08_s0000.png</key>
<dict>
<key>frame</key>
<string>{{2,224},{120,102}}</string>
<key>offset</key>
<string>{-58,50}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{120,102}}</string>
<key>sourceSize</key>
<string>{120,102}</string>
</dict>
<key>mb_09_s0000.png</key>
<dict>
<key>frame</key>
<string>{{148,2},{132,114}}</string>
<key>offset</key>
<string>{-65,56}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{132,114}}</string>
<key>sourceSize</key>
<string>{132,114}</string>
</dict>
<key>mb_10_s0000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{144,110}}</string>
<key>offset</key>
<string>{-71,54}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{144,110}}</string>
<key>sourceSize</key>
<string>{144,110}</string>
</dict>
<key>mb_11_s0000.png</key>
<dict>
<key>frame</key>
<string>{{2,328},{104,108}}</string>
<key>offset</key>
<string>{-50,53}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{104,108}}</string>
<key>sourceSize</key>
<string>{104,108}</string>
</dict>
<key>mb_12_s0000.png</key>
<dict>
<key>frame</key>
<string>{{282,2},{132,96}}</string>
<key>offset</key>
<string>{-64,46}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{132,96}}</string>
<key>sourceSize</key>
<string>{132,96}</string>
</dict>
<key>mb_13_s0000.png</key>
<dict>
<key>frame</key>
<string>{{304,328},{74,116}}</string>
<key>offset</key>
<string>{-36,56}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{74,116}}</string>
<key>sourceSize</key>
<string>{74,116}</string>
</dict>
<key>mb_14_s0000.png</key>
<dict>
<key>frame</key>
<string>{{398,100},{86,106}}</string>
<key>offset</key>
<string>{-41,52}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{86,106}}</string>
<key>sourceSize</key>
<string>{86,106}</string>
</dict>
<key>mb_15_s0000.png</key>
<dict>
<key>frame</key>
<string>{{226,328},{76,114}}</string>
<key>offset</key>
<string>{-36,55}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,114}}</string>
<key>sourceSize</key>
<string>{76,114}</string>
</dict>
<key>mb_16_s0000.png</key>
<dict>
<key>frame</key>
<string>{{380,328},{60,116}}</string>
<key>offset</key>
<string>{-29,56}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{60,116}}</string>
<key>sourceSize</key>
<string>{60,116}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>templateMini.png</string>
<key>size</key>
<string>{500,450}</string>
<key>textureFileName</key>
<string>templateMini.png</string>
</dict>
</dict>
</plist>
