<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_050000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{535,425}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{535,425}}</string>
<key>sourceSize</key>
<string>{535,425}</string>
</dict>
<key>muban_050001.png</key>
<dict>
<key>frame</key>
<string>{{2,429},{535,425}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{535,425}}</string>
<key>sourceSize</key>
<string>{535,425}</string>
</dict>
<key>muban_050002.png</key>
<dict>
<key>frame</key>
<string>{{354,923},{285,172}}</string>
<key>offset</key>
<string>{216,-219}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{250,253},{285,172}}</string>
<key>sourceSize</key>
<string>{285,172}</string>
</dict>
<key>muban_050003.png</key>
<dict>
<key>frame</key>
<string>{{539,723},{326,198}}</string>
<key>offset</key>
<string>{196,-214}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{209,227},{326,198}}</string>
<key>sourceSize</key>
<string>{326,198}</string>
</dict>
<key>muban_050004.png</key>
<dict>
<key>frame</key>
<string>{{2,856},{350,212}}</string>
<key>offset</key>
<string>{184,-212}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{185,213},{350,212}}</string>
<key>sourceSize</key>
<string>{350,212}</string>
</dict>
<key>muban_050005.png</key>
<dict>
<key>frame</key>
<string>{{539,403},{318,318}}</string>
<key>offset</key>
<string>{18,-65}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{217,107},{318,318}}</string>
<key>sourceSize</key>
<string>{318,318}</string>
</dict>
<key>muban_050006.png</key>
<dict>
<key>frame</key>
<string>{{539,2},{364,399}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{171,26},{364,399}}</string>
<key>sourceSize</key>
<string>{364,399}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_05.png</string>
<key>size</key>
<string>{1024,1100}</string>
<key>textureFileName</key>
<string>template_05.png</string>
</dict>
</dict>
</plist>
