<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_130000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{287,453}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{287,453}}</string>
<key>sourceSize</key>
<string>{287,453}</string>
</dict>
<key>muban_130001.png</key>
<dict>
<key>frame</key>
<string>{{291,2},{287,453}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{287,453}}</string>
<key>sourceSize</key>
<string>{287,453}</string>
</dict>
<key>muban_130002.png</key>
<dict>
<key>frame</key>
<string>{{580,121},{97,109}}</string>
<key>offset</key>
<string>{150,-113}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{190,344},{97,109}}</string>
<key>sourceSize</key>
<string>{97,109}</string>
</dict>
<key>muban_130003.png</key>
<dict>
<key>frame</key>
<string>{{580,327},{85,99}}</string>
<key>offset</key>
<string>{171,-29}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{202,354},{85,99}}</string>
<key>sourceSize</key>
<string>{85,99}</string>
</dict>
<key>muban_130004.png</key>
<dict>
<key>frame</key>
<string>{{480,457},{72,45}}</string>
<key>offset</key>
<string>{132,-9}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{215,408},{72,45}}</string>
<key>sourceSize</key>
<string>{72,45}</string>
</dict>
<key>muban_130005.png</key>
<dict>
<key>frame</key>
<string>{{580,2},{107,117}}</string>
<key>offset</key>
<string>{74,-31}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{180,336},{107,117}}</string>
<key>sourceSize</key>
<string>{107,117}</string>
</dict>
<key>muban_130006.png</key>
<dict>
<key>frame</key>
<string>{{480,504},{38,33}}</string>
<key>offset</key>
<string>{122,-140}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{249,420},{38,33}}</string>
<key>sourceSize</key>
<string>{38,33}</string>
</dict>
<key>muban_130007.png</key>
<dict>
<key>frame</key>
<string>{{396,457},{82,65}}</string>
<key>offset</key>
<string>{37,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{205,388},{82,65}}</string>
<key>sourceSize</key>
<string>{82,65}</string>
</dict>
<key>muban_130008.png</key>
<dict>
<key>frame</key>
<string>{{580,428},{83,94}}</string>
<key>offset</key>
<string>{1,-48}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{204,359},{83,94}}</string>
<key>sourceSize</key>
<string>{83,94}</string>
</dict>
<key>muban_130009.png</key>
<dict>
<key>frame</key>
<string>{{580,232},{91,93}}</string>
<key>offset</key>
<string>{33,-114}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{196,360},{91,93}}</string>
<key>sourceSize</key>
<string>{91,93}</string>
</dict>
<key>muban_130010.png</key>
<dict>
<key>frame</key>
<string>{{2,457},{185,128}}</string>
<key>offset</key>
<string>{101,-304}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{102,325},{185,128}}</string>
<key>sourceSize</key>
<string>{185,128}</string>
</dict>
<key>muban_130011.png</key>
<dict>
<key>frame</key>
<string>{{189,457},{115,64}}</string>
<key>offset</key>
<string>{113,-339}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{172,389},{115,64}}</string>
<key>sourceSize</key>
<string>{115,64}</string>
</dict>
<key>muban_130012.png</key>
<dict>
<key>frame</key>
<string>{{306,457},{88,62}}</string>
<key>offset</key>
<string>{172,-390}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{199,391},{88,62}}</string>
<key>sourceSize</key>
<string>{88,62}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_13.png</string>
<key>size</key>
<string>{700,600}</string>
<key>textureFileName</key>
<string>template_13.png</string>
</dict>
</dict>
</plist>
