<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_140000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{334,415}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{334,415}}</string>
<key>sourceSize</key>
<string>{334,415}</string>
</dict>
<key>muban_140001.png</key>
<dict>
<key>frame</key>
<string>{{338,2},{334,415}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{334,415}}</string>
<key>sourceSize</key>
<string>{334,415}</string>
</dict>
<key>muban_140002.png</key>
<dict>
<key>frame</key>
<string>{{2,419},{296,300}}</string>
<key>offset</key>
<string>{37,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{38,115},{296,300}}</string>
<key>sourceSize</key>
<string>{296,300}</string>
</dict>
<key>muban_140003.png</key>
<dict>
<key>frame</key>
<string>{{300,419},{181,357}}</string>
<key>offset</key>
<string>{62,-54}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{153,58},{181,357}}</string>
<key>sourceSize</key>
<string>{181,357}</string>
</dict>
<key>muban_140004.png</key>
<dict>
<key>frame</key>
<string>{{483,670},{71,99}}</string>
<key>offset</key>
<string>{18,-39}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{263,316},{71,99}}</string>
<key>sourceSize</key>
<string>{71,99}</string>
</dict>
<key>muban_140005.png</key>
<dict>
<key>frame</key>
<string>{{2,721},{110,30}}</string>
<key>offset</key>
<string>{63,-141}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{224,385},{110,30}}</string>
<key>sourceSize</key>
<string>{110,30}</string>
</dict>
<key>muban_140006.png</key>
<dict>
<key>frame</key>
<string>{{483,583},{145,85}}</string>
<key>offset</key>
<string>{1,-193}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{189,330},{145,85}}</string>
<key>sourceSize</key>
<string>{145,85}</string>
</dict>
<key>muban_140007.png</key>
<dict>
<key>frame</key>
<string>{{556,670},{63,92}}</string>
<key>offset</key>
<string>{136,-188}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{271,323},{63,92}}</string>
<key>sourceSize</key>
<string>{63,92}</string>
</dict>
<key>muban_140008.png</key>
<dict>
<key>frame</key>
<string>{{483,419},{176,162}}</string>
<key>offset</key>
<string>{81,-252}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{158,253},{176,162}}</string>
<key>sourceSize</key>
<string>{176,162}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_14.png</string>
<key>size</key>
<string>{700,800}</string>
<key>textureFileName</key>
<string>template_14.png</string>
</dict>
</dict>
</plist>
