<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>muban_030000.png</key>
<dict>
<key>frame</key>
<string>{{2,2},{390,433}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{390,433}}</string>
<key>sourceSize</key>
<string>{390,433}</string>
</dict>
<key>muban_030001.png</key>
<dict>
<key>frame</key>
<string>{{2,437},{390,433}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{390,433}}</string>
<key>sourceSize</key>
<string>{390,433}</string>
</dict>
<key>muban_030002.png</key>
<dict>
<key>frame</key>
<string>{{394,634},{328,159}}</string>
<key>offset</key>
<string>{31,-45}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{62,274},{328,159}}</string>
<key>sourceSize</key>
<string>{328,159}</string>
</dict>
<key>muban_030003.png</key>
<dict>
<key>frame</key>
<string>{{688,569},{57,47}}</string>
<key>offset</key>
<string>{165,-147}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{333,386},{57,47}}</string>
<key>sourceSize</key>
<string>{57,47}</string>
</dict>
<key>muban_030004.png</key>
<dict>
<key>frame</key>
<string>{{394,2},{324,257}}</string>
<key>offset</key>
<string>{33,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{66,176},{324,257}}</string>
<key>sourceSize</key>
<string>{324,257}</string>
</dict>
<key>muban_030005.png</key>
<dict>
<key>frame</key>
<string>{{394,795},{366,80}}</string>
<key>offset</key>
<string>{12,-1}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{24,353},{366,80}}</string>
<key>sourceSize</key>
<string>{366,80}</string>
</dict>
<key>muban_030006.png</key>
<dict>
<key>frame</key>
<string>{{394,440},{292,192}}</string>
<key>offset</key>
<string>{49,-219}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{98,241},{292,192}}</string>
<key>sourceSize</key>
<string>{292,192}</string>
</dict>
<key>muban_030007.png</key>
<dict>
<key>frame</key>
<string>{{688,440},{200,100}}</string>
<key>offset</key>
<string>{95,-258}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{190,333},{200,100}}</string>
<key>sourceSize</key>
<string>{200,100}</string>
</dict>
<key>muban_030008.png</key>
<dict>
<key>frame</key>
<string>{{394,261},{388,177}}</string>
<key>offset</key>
<string>{1,-204}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{2,256},{388,177}}</string>
<key>sourceSize</key>
<string>{388,177}</string>
</dict>
<key>muban_030009.png</key>
<dict>
<key>frame</key>
<string>{{688,542},{174,25}}</string>
<key>offset</key>
<string>{108,-407}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{216,408},{174,25}}</string>
<key>sourceSize</key>
<string>{174,25}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>template_03.png</string>
<key>size</key>
<string>{900,900}</string>
<key>textureFileName</key>
<string>template_03.png</string>
</dict>
</dict>
</plist>
