@charset "utf-8";
/* CSS Document */

body { 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: #F1F2F3;
	font-family: 'Open Sans';
	font-weight: 100;
	font-size:100%;
	margin:0em;
	padding:0em;
}

#WZYmusic {
	position:relative;
	width:960px;
	margin:0px auto;
	padding-top:30px;
	padding-bottom:30px;
	background:#39cccc;
	font:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:45px;
	color:#FFFFFF;
	
}

#WZYmusicfoolter{
	position:relative;
	width:960px;
	margin:50px auto 0px auto;
	background:#dddddd;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:40px;
}

#mymusiccontent {
	position:relative;
	width:960px;
	margin:0px auto;
}

/*导航按钮*/
.twitter{background: #ea4c89;}
.btn{
  font-size:16px;
  display: block;
  float: right;
  width: 100px;height: 40px;
  background-color:#66cccc;
  text-align: center;
  line-height: 40px;
  position: relative;
  text-decoration: none;
  margin: 20px;
  overflow: hidden;
  border:1px solid #FFFFFF;
}

.btnsubmit
{
	width:140px;
	height:36px;
	line-height:18px;
	font-size:18px;
	background:url(../Images/btnsubmit.jpg) no-repeat left top;
	color:#FFF;
	cursor: pointer; 
	
}