<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>juhua0000</key>
<dict>
<key>frame</key>
<string>{{3,3},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0001</key>
<dict>
<key>frame</key>
<string>{{3,52},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0002</key>
<dict>
<key>frame</key>
<string>{{3,101},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0003</key>
<dict>
<key>frame</key>
<string>{{3,150},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0004</key>
<dict>
<key>frame</key>
<string>{{3,199},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0005</key>
<dict>
<key>frame</key>
<string>{{50,3},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0006</key>
<dict>
<key>frame</key>
<string>{{97,3},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0007</key>
<dict>
<key>frame</key>
<string>{{144,3},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0008</key>
<dict>
<key>frame</key>
<string>{{191,3},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0009</key>
<dict>
<key>frame</key>
<string>{{50,52},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0010</key>
<dict>
<key>frame</key>
<string>{{50,101},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0011</key>
<dict>
<key>frame</key>
<string>{{50,150},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0012</key>
<dict>
<key>frame</key>
<string>{{50,199},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0013</key>
<dict>
<key>frame</key>
<string>{{97,52},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0014</key>
<dict>
<key>frame</key>
<string>{{144,52},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0015</key>
<dict>
<key>frame</key>
<string>{{191,52},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0016</key>
<dict>
<key>frame</key>
<string>{{97,101},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0017</key>
<dict>
<key>frame</key>
<string>{{97,150},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0018</key>
<dict>
<key>frame</key>
<string>{{97,199},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0019</key>
<dict>
<key>frame</key>
<string>{{144,101},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0020</key>
<dict>
<key>frame</key>
<string>{{191,101},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0021</key>
<dict>
<key>frame</key>
<string>{{144,150},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0022</key>
<dict>
<key>frame</key>
<string>{{144,199},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0023</key>
<dict>
<key>frame</key>
<string>{{191,150},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
<key>juhua0024</key>
<dict>
<key>frame</key>
<string>{{3,3},{42,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{42,44}}</string>
<key>sourceSize</key>
<string>{42,44}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>juhua.png</string>
<key>size</key>
<string>{256,256}</string>
<key>textureFileName</key>
<string>juhua.png</string>
</dict>
</dict>
</plist>
