<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>flag_ar.png.png</key>
<dict>
<key>frame</key>
<string>{{330,64},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_br.png.png</key>
<dict>
<key>frame</key>
<string>{{407,64},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_cn.png.png</key>
<dict>
<key>frame</key>
<string>{{1,65},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_de.png.png</key>
<dict>
<key>frame</key>
<string>{{78,65},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_es.png.png</key>
<dict>
<key>frame</key>
<string>{{155,65},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_fr.png.png</key>
<dict>
<key>frame</key>
<string>{{232,65},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_id.png.png</key>
<dict>
<key>frame</key>
<string>{{309,118},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_it.png.png</key>
<dict>
<key>frame</key>
<string>{{386,118},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_jp.png.png</key>
<dict>
<key>frame</key>
<string>{{1,119},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_mx.png.png</key>
<dict>
<key>frame</key>
<string>{{78,119},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_nl.png.png</key>
<dict>
<key>frame</key>
<string>{{155,119},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_pl.png.png</key>
<dict>
<key>frame</key>
<string>{{232,119},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_pt.png.png</key>
<dict>
<key>frame</key>
<string>{{309,172},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_ru.png.png</key>
<dict>
<key>frame</key>
<string>{{386,172},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_sa.png.png</key>
<dict>
<key>frame</key>
<string>{{1,173},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_se.png.png</key>
<dict>
<key>frame</key>
<string>{{232,173},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_uk.png.png</key>
<dict>
<key>frame</key>
<string>{{78,173},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>flag_us.png.png</key>
<dict>
<key>frame</key>
<string>{{155,173},{76,53}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{76,53}}</string>
<key>sourceSize</key>
<string>{76,53}</string>
</dict>
<key>localization_bar.png.png</key>
<dict>
<key>frame</key>
<string>{{1,1},{328,63}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{328,63}}</string>
<key>sourceSize</key>
<string>{328,63}</string>
</dict>
<key>localization_optionbg0000.png</key>
<dict>
<key>frame</key>
<string>{{330,1},{140,62}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{140,62}}</string>
<key>sourceSize</key>
<string>{140,62}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>localization.png</string>
<key>size</key>
<string>{512,512}</string>
<key>textureFileName</key>
<string>localization.png</string>
</dict>
</dict>
</plist>
