<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>besty_action3_Bitmap21.png</key>
<dict>
<key>width</key>
<integer>63</integer>
<key>height</key>
<integer>82</integer>
<key>originalWidth</key>
<integer>63</integer>
<key>originalHeight</key>
<integer>82</integer>
<key>x</key>
<integer>0</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_acta.png</key>
<dict>
<key>width</key>
<integer>14</integer>
<key>height</key>
<integer>14</integer>
<key>originalWidth</key>
<integer>14</integer>
<key>originalHeight</key>
<integer>14</integer>
<key>x</key>
<integer>65</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_action03_Bit.png</key>
<dict>
<key>width</key>
<integer>29</integer>
<key>height</key>
<integer>68</integer>
<key>originalWidth</key>
<integer>29</integer>
<key>originalHeight</key>
<integer>68</integer>
<key>x</key>
<integer>81</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_action.png</key>
<dict>
<key>width</key>
<integer>70</integer>
<key>height</key>
<integer>88</integer>
<key>originalWidth</key>
<integer>70</integer>
<key>originalHeight</key>
<integer>88</integer>
<key>x</key>
<integer>112</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_action03_Bitmap15.png</key>
<dict>
<key>width</key>
<integer>27</integer>
<key>height</key>
<integer>66</integer>
<key>originalWidth</key>
<integer>27</integer>
<key>originalHeight</key>
<integer>66</integer>
<key>x</key>
<integer>184</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_actio.png</key>
<dict>
<key>width</key>
<integer>66</integer>
<key>height</key>
<integer>86</integer>
<key>originalWidth</key>
<integer>66</integer>
<key>originalHeight</key>
<integer>86</integer>
<key>x</key>
<integer>213</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>各部分原件/位图 5.png</key>
<dict>
<key>width</key>
<integer>29</integer>
<key>height</key>
<integer>16</integer>
<key>originalWidth</key>
<integer>29</integer>
<key>originalHeight</key>
<integer>16</integer>
<key>x</key>
<integer>281</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_action03_Bitap6.png</key>
<dict>
<key>width</key>
<integer>29</integer>
<key>height</key>
<integer>14</integer>
<key>originalWidth</key>
<integer>29</integer>
<key>originalHeight</key>
<integer>14</integer>
<key>x</key>
<integer>312</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>eye033.png</key>
<dict>
<key>width</key>
<integer>101</integer>
<key>height</key>
<integer>41</integer>
<key>originalWidth</key>
<integer>101</integer>
<key>originalHeight</key>
<integer>41</integer>
<key>x</key>
<integer>343</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>eye022.png</key>
<dict>
<key>width</key>
<integer>101</integer>
<key>height</key>
<integer>42</integer>
<key>originalWidth</key>
<integer>101</integer>
<key>originalHeight</key>
<integer>42</integer>
<key>x</key>
<integer>446</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>eye011.png</key>
<dict>
<key>width</key>
<integer>101</integer>
<key>height</key>
<integer>41</integer>
<key>originalWidth</key>
<integer>101</integer>
<key>originalHeight</key>
<integer>41</integer>
<key>x</key>
<integer>549</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_action03_Bitmp8.png</key>
<dict>
<key>width</key>
<integer>124</integer>
<key>height</key>
<integer>95</integer>
<key>originalWidth</key>
<integer>124</integer>
<key>originalHeight</key>
<integer>95</integer>
<key>x</key>
<integer>652</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>dsfaas1.png</key>
<dict>
<key>width</key>
<integer>75</integer>
<key>height</key>
<integer>119</integer>
<key>originalWidth</key>
<integer>75</integer>
<key>originalHeight</key>
<integer>119</integer>
<key>x</key>
<integer>778</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>armb1.png</key>
<dict>
<key>width</key>
<integer>33</integer>
<key>height</key>
<integer>126</integer>
<key>originalWidth</key>
<integer>33</integer>
<key>originalHeight</key>
<integer>126</integer>
<key>x</key>
<integer>855</integer>
<key>y</key>
<integer>0</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>shenti1.png</key>
<dict>
<key>width</key>
<integer>220</integer>
<key>height</key>
<integer>493</integer>
<key>originalWidth</key>
<integer>220</integer>
<key>originalHeight</key>
<integer>493</integer>
<key>x</key>
<integer>0</integer>
<key>y</key>
<integer>128</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_action03_Bimap9.png</key>
<dict>
<key>width</key>
<integer>65</integer>
<key>height</key>
<integer>122</integer>
<key>originalWidth</key>
<integer>65</integer>
<key>originalHeight</key>
<integer>122</integer>
<key>x</key>
<integer>222</integer>
<key>y</key>
<integer>128</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_action03_Bitm.png</key>
<dict>
<key>width</key>
<integer>42</integer>
<key>height</key>
<integer>60</integer>
<key>originalWidth</key>
<integer>42</integer>
<key>originalHeight</key>
<integer>60</integer>
<key>x</key>
<integer>289</integer>
<key>y</key>
<integer>128</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>besty_action03.png</key>
<dict>
<key>width</key>
<integer>77</integer>
<key>height</key>
<integer>90</integer>
<key>originalWidth</key>
<integer>77</integer>
<key>originalHeight</key>
<integer>90</integer>
<key>x</key>
<integer>333</integer>
<key>y</key>
<integer>128</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
<key>bei12.png</key>
<dict>
<key>width</key>
<integer>161</integer>
<key>height</key>
<integer>258</integer>
<key>originalWidth</key>
<integer>161</integer>
<key>originalHeight</key>
<integer>258</integer>
<key>x</key>
<integer>412</integer>
<key>y</key>
<integer>128</integer>
<key>offsetX</key>
<real>0</real>
<key>offsetY</key>
<real>0</real>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>0</integer>
<key>textureFileName</key>
<string>PeopleAct_10.png</string>
<key>realTextureFileName</key>
<string>PeopleAct_10.png</string>
<key>size</key>
<string>{1024,1024}</string>
</dict>
<key>texture</key>
<dict>
<key>width</key>
<integer>1024</integer>
<key>height</key>
<integer>1024</integer>
</dict>
</dict>
</plist>