<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cqut.wzy.osaat.mapper.admin.AdminUserMapper" >
  <resultMap id="BaseUserResultMap" type="org.cqut.wzy.osaat.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="passwordkey" property="passwordkey" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="hobbies" property="hobbies" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="activation_code" property="activationCode" jdbcType="VARCHAR" />
    <result column="integral" property="integral" jdbcType="INTEGER" />
    <result column="find_already" property="findAlready" jdbcType="INTEGER" />
    <result column="find_pw_outDate" property="findPwOutdate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="CountAllUser" resultType="java.lang.Long">
  	SELECT count(*) FROM user
  </select>
  
  <select id="SearchAllUser" parameterType="java.lang.Long" resultMap="BaseUserResultMap">
  	SELECT * FROM USER ORDER BY id DESC LIMIT #{0}, #{1}
  </select>
  
  <select id="CountSearchUser" parameterType="java.lang.String" resultType="java.lang.Long">
  	SELECT count(*) FROM user WHERE username LIKE concat('%',#{name},'%')
  </select>
  
  <select id="SearchUserByName" resultMap="BaseUserResultMap">
  	SELECT * FROM user WHERE username LIKE concat('%',#{0},'%') LIMIT #{1}, #{2} 
  </select>
  
  <delete id="DeleteUserById" parameterType="java.lang.Long">
  	DELETE FROM user WHERE id = #{id}
  </delete>
  
</mapper>