<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,849},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,225},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,416},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,446},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,416},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,259},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,976},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,976},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,820},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,416},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>Prompt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,857},{143,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,44}}</string>
                <key>sourceSize</key>
                <string>{143,44}</string>
            </dict>
            <key>btn_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,699},{223,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,157}}</string>
                <key>sourceSize</key>
                <string>{223,157}</string>
            </dict>
            <key>card_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,936},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,857},{100,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,78}}</string>
                <key>sourceSize</key>
                <string>{100,78}</string>
            </dict>
            <key>checkpoints_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,326},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,488},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_01_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,326},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,164},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_02_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,164},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_03_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_04_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>checkpoints_05_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{309,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,161}}</string>
                <key>sourceSize</key>
                <string>{309,161}</string>
            </dict>
            <key>computer.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,728},{182,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,91}}</string>
                <key>sourceSize</key>
                <string>{182,91}</string>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,820},{115,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,151}}</string>
                <key>sourceSize</key>
                <string>{115,151}</string>
            </dict>
            <key>hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,699},{70,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,118}}</string>
                <key>sourceSize</key>
                <string>{70,118}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,820},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>icon_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,862},{211,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,86}}</string>
                <key>sourceSize</key>
                <string>{211,86}</string>
            </dict>
            <key>icon_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{304,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,64}}</string>
                <key>sourceSize</key>
                <string>{304,64}</string>
            </dict>
            <key>lady_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,488},{99,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,239}}</string>
                <key>sourceSize</key>
                <string>{99,239}</string>
            </dict>
            <key>lady_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,326},{63,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,226},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{259,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,35}}</string>
                <key>sourceSize</key>
                <string>{259,35}</string>
            </dict>
            <key>medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,650},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>quilt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,223}}</string>
                <key>sourceSize</key>
                <string>{356,223}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{20,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,222}}</string>
                <key>sourceSize</key>
                <string>{20,222}</string>
            </dict>
            <key>window_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,488},{225,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,210}}</string>
                <key>sourceSize</key>
                <string>{225,210}</string>
            </dict>
            <key>window_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,650},{225,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,211}}</string>
                <key>sourceSize</key>
                <string>{225,211}</string>
            </dict>
            <key>word_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,949},{172,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,65}}</string>
                <key>sourceSize</key>
                <string>{172,65}</string>
            </dict>
            <key>work_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,938},{115,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,29}}</string>
                <key>sourceSize</key>
                <string>{115,29}</string>
            </dict>
            <key>work_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,939},{141,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,36}}</string>
                <key>sourceSize</key>
                <string>{141,36}</string>
            </dict>
            <key>work_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,902},{142,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,36}}</string>
                <key>sourceSize</key>
                <string>{142,36}</string>
            </dict>
            <key>work_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,972},{128,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,30}}</string>
                <key>sourceSize</key>
                <string>{128,30}</string>
            </dict>
            <key>work_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,976},{128,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,29}}</string>
                <key>sourceSize</key>
                <string>{128,29}</string>
            </dict>
            <key>work_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{247,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,25}}</string>
                <key>sourceSize</key>
                <string>{247,25}</string>
            </dict>
            <key>work_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,907},{115,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,30}}</string>
                <key>sourceSize</key>
                <string>{115,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>douniwan.png</string>
            <key>size</key>
            <string>{1017,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e55d86ce88d8397f4e7790cf8671ed70:1/1$</string>
            <key>textureFileName</key>
            <string>douniwan.png</string>
        </dict>
    </dict>
</plist>
