@charset "utf-8";
/* CSS Document */
.search {
	width: 500px;
	height: 40px;
	margin: 10px auto;
	background: #444;
	background: rgba(0, 0, 0, .2);
	border-radius: 3px;
	border: 1px solid #2d78f4;
}

.search input {
	width: 370px;
	height: 38px;
	padding: 10px 5px;
	float: left;
	color: #000000;
	border: 0;
	background: #FFFFFF;
	border-radius: 3px 0 0 3px;
}

.search input:focus {
	outline: 0;
	background: #FFFFFF;
}

.search button {
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 38px;
	width: 128px;
	color: #fff;
	background: #3385ff;
	border-left: 1px solid #FFFFFF;
	border-radius: 0 3px 3px 0;
}

.search button:hover {
	background: #3385ff;
	color: #FFFFFF;
}